.App {

}
.game-wrap {
  margin: 25px auto;
  background: #000;
  position: relative;
}
.game-wrap .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.game-wrap .item {
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0.15);
}
.game-wrap .item.inactive {
  background: #000;
  border: 1px solid #000;
}
.game-wrap .item button {
  margin: 10px;
  padding: 0;
}
.game-wrap .item button.btn-active.active {
  background: #f4f4f4;
}
.game-wrap .item button.btn-target {
  background: transparent;
  border: 0;
  text: #000;
}
.hud {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
}
.hud button {
  margin: 0;
}
dialog article > footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
